* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f8f1f4;
  position: relative;
}

.acceuil {
  text-align: center;
  vertical-align: middle;
}

.title {
  font-size: 3.5em;
}

.buttons {
  margin: 10%;
  text-align: center;
}

button a {
  color: white;
  text-decoration: none;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #ff0066,
    #ff1a75,
    #e6005c,
    #ff0066
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
