<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ace | Inscription</title>
  </head>
  <body>
    <div class="title">
      <h1>Inscription Ace</h1>
    </div>
    <div>
      <form method="POST">
        <div class="erreur"></div>
        <input type="text" name="nom" placeholder="Entré vôtre nom" />
        <div class="erreur"></div>
        <input type="text" name="prenom" placeholder="Entré vôtre Prénom" />
        <div class="erreur"></div>
        <input type="email" name="email" placeholder="Entrée vôtre email" />
        <div class="erreur"></div>
        <label for="date">Date de Naissance</label><br>
        <input type="date" name="date" id="date" />
        <div class="erreur"></div>
        <input type="tel" name="contact" placeholder="+225" />
      </form>
    </div>
  </body>
</html>
