<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ace | Accueil</title>
    <link rel="stylesheet" href="../Static/css/style.css" />
  </head>
  <body>
    <div class="acceuil">
      <div class="block">
        <h1 class="title">Ace Online</h1>
        <button class="btn-hover color-11">
          <a href="./step-1.html">Commencé</a>
        </button>
      </div>
    </div>
  </body>
</html>
