<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ace | Inscription</title>
    <link rel="stylesheet" href="../Static/css/formulaire.css" />
  </head>
  <body>
    <div class="title">
      <h1>Inscription Ace</h1>
    </div>
    <div class="form">
      <form method="POST">
        <div class="erreur"></div>
        <input type="email" name="email" placeholder="Entrée vôtre email" />
        <div class="erreur"></div>
        <label for="date">Date de Naissance</label><br />
        <input type="date" name="date" id="date" />
        <div class="erreur"></div>
        <input type="tel" name="contact" placeholder="+225" />
        <div class="erreur"></div>
        <select name="classe" id="classe">
          <option value="">--Selectionné vôtre classe--</option>
        </select>
        <div class="erreur"></div>
        <input
          type="radio"
          name="frites"
          value="homme"
          id="homme"
          checked="checked"
        />
        <label for="homme">Homme</label>
        <input type="radio" name="frites" value="femme" id="femme" />
        <label for="femme">Femme</label>
        <div class="erreur"></div>
        <select name="classe" id="classe">
          <option value="">--Selectionné vôtre Commité--</option>
        </select>
      </form>
    </div>
  </body>
</html>
