<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ace | Administrateur</title>
    <link rel="stylesheet" href="../Static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Statiques Générale</a></li>
            <li><a href="#">les listes Standard</a></li>
            <li><a href="#">Liste par séance</a></li>
        </ul>
    </nav>
    <div class="contain">
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>  
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>
        <div class="stat">
            <h2>Nnombre de Licence 1</h2>
            <p>lorem</p>
        </div>  
    </div>
</body>
</html>