<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ace | Administrateur</title>
    <link rel="stylesheet" href="../Static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Statiques Générale</a></li>
        <li><a href="standard.html">les listes Standard</a></li>
        <li><a href="demande.html">Liste trié</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Licences</h1>
      <hr />
      <div class="contain">
        <div class="stat">
          <h2>Nombre de Licence 1</h2>
          <p>lorem</p>
        </div>
        <div class="stat">
          <h2>Nombre de Licence 2</h2>
          <p>lorem</p>
        </div>
        <div class="stat">
          <h2>Nombre de Licence 3</h2>
          <p>lorem</p>
        </div>
      </div>
      <h1>Master</h1>
      <hr />
      <div class="contain">
        <div class="stat">
          <h2>Nombre de Master 1</h2>
          <p>lorem</p>
        </div>
        <div class="stat">
          <h2>Nombre de Master 2</h2>
          <p>lorem</p>
        </div>
      </div>
    </div>
  </body>
</html>
